[options]
; This is the password that allows database operations:
; admin_passwd = admin
db_host = {{ db.host }}
db_port = {{ db.port }}
db_user = odoo
db_password = {{ db.password }}
addons_path = /usr/lib/python2.7/dist-packages/odoo/addons
